.work-page {
  @extend %flex-column-center;
  color: $color-dark;
  gap: $g-4;

  @media only screen and (min-width: 650px) {
    gap: $g-5;
  }

  @media only screen and (min-width: 750px) {
    gap: $g-6;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: $g-4;

    @media only screen and (min-width: 650px) {
      gap: $g-5;
    }

    @media only screen and (min-width: 750px) {
      gap: $g-6;
    }

    .card {
      background-color: $color-dark;
      color: $color-primary;
      padding: $g-4;
      border-radius: $border-radius;
      border: 2px solid $color-primary;
      @extend %flex-column;
      gap: $g-4;
      transition: $tr-transform;

      .card-header {
        font-size: $fs-4;
        font-weight: $fw-3;
        position: relative;

        &::before {
          @extend %underline;
          background-color: $color-primary;
        }
      }

      .card-text {
        font-size: $fs-2;
        font-weight: $fw-2;
      }

      .card-link {
        color: $color-light;
        font-size: $fs-2;
        transition: $tr-color;

        &:hover {
          color: $color-primary;
        }
      }

      &:hover {
        transform: scale(1.02);
      }
    }
  }
}
